
*{padding: 0; margin: 0;}
ul li{list-style: none;}

    /*네비*/
    #header_{position: fixed; right: 3%; background-color: black; opacity: 80%; border-radius: 0 0 15px 15px / 0 0 15px 15px;}
    #header_ ul li{list-style: none; float: right; margin-right: 3rem; padding: 1.5rem; color: white;}
    #header_ ul li:hover{cursor: pointer;}
    #header_ ul li:last-child{margin-left: 3rem;}

    /*Home*/

    #Home{height: 100vh; width: 100%; display: flex; justify-content: center; align-items: center; background-repeat: no-repeat; background-size: cover;}
    #Home h1{font-size: 3vw; color: white;}

    /*About*/

    #About{display: flex; width: 100%; height: 100%; background-color: #DDFFAA;}
    #About_Title{width: 25vw; margin-left: 4vw; margin-right: 6vw; text-align: center; align-self: center;}
    #About_Content{margin: 8vw 8vw 8vw 0;}

    /*Skills*/

    #Skills{width: 100%; height: 100%; text-align: center; background-color: #00000011;}
    #Skills_Content > div{align-self: center; margin: 15px 0 0 0;}
    #Skills_Content > div > div{display: inline-block; width: 115px; height: 115px; margin: 2vw 3vw 2vw 0; box-shadow: 5px 5px 5px 5px gray; border-radius: 30px; background-color: white;}
    .Skills_ImgBox{background-repeat: no-repeat; background-size: contain; background-position: center;}
    .Skills_ImgBox div{display: flex; visibility:hidden; width: 115px; height: 115px; color: white; border-radius: 30px; justify-content: center; align-items: center;}
    .Skills_ImgBox:hover div{visibility: visible; background-color: black; opacity: .8;}

    /*Project*/

    #Project{width: 100%; height: 100%; background-color: greenyellow; text-align: center;}
    #Box_Wrap{display: flex; flex-wrap: wrap; justify-content: center;}
    #Project_Content{width: 100%; height: 100%;}
    #Project_Title{text-align: center;}
    .Project_Box{width: 100%; height: 360px; max-width: 80vw; margin: 0 auto 30px; background-color: white;}
    .Project_img{float: left; width: 35%; height: 360px; background-repeat: no-repeat; background-size: cover;}
    .Project_content{padding-left: 2vw;}
        /*프로젝트 이름*/
    .Project_name{margin: 1vw 0 1vw 0;}
        /*개발 기간*/
    .Period{margin: 2vw 0 2vw 0;}
        /*프로젝트 소개?*/
    .Info{margin: 2vw 0 2vw 0; font-size: 1vw;}
        /*#...*/
    .HashTag{margin: 3vw 0 3vw 0;}
    .HashTag li{display: inline-block; margin-right: 5px; color: gray; font-size: .8vw;}
    
    /*Contact*/

    #Contact{width: 100%; height: 30vh; text-align: center;}
    #Email{font-size: 1.8em; font-weight: 700; margin: 2em 0 2em 0;}

    /*상단*/
    #Skills h1, #Project h1, #Contact h1{padding: 2em 0 3em 0;}