*{padding: 0; margin: 0;}
ul li{list-style: none;}

    /*네비*/
    #header_{position: fixed; right: 0%; width: 120px;}
    #header_ ul li{list-style: none; margin: 0 1rem 0 1rem; padding: 1rem; color: white; text-align: center; color: gray;}
    #header_ ul li:hover{cursor: pointer;}
    #header_ ul{display: none;}

    /*menu*/
    #memu_Box{display: block; width: 35px; height: 30px; margin: 5px auto; padding: 10px;}
    .menu_Bar{background-color: gray; width: 35px; height: 5px;margin: 5px 0 5px 0;}
    #menu_Bar1.on{transform: rotate(135deg) translate(6px,-7px); transition: 0.5s all ease}
    #menu_Bar2.on{opacity: 0; transition: 0.5s all ease;}
    #menu_Bar3.on{transform: rotate(-135deg) translate(8px,7px); transition: 0.5s all ease}
    .menu_Bar{transition: 0.3s all ease;}

    /*Home*/

    #Home{height: 100vh; width: 100%; display: flex; justify-content: center; align-items: center; background-repeat: no-repeat; background-size: cover;}
    #Home h1{font-size: 3vw; color: white;}

    /*About*/

    #About{width: 100%; height: 100%; background-color: #DDFFAA;}
    #About_Title{width: 100%; text-align: center;}
    #About_Content{margin: 0 3vw 0 3vw; padding-bottom: 8vw; text-align: center;}
    #About_Content h1{margin: 15px 0 15px 0;}
    #About_Content > pre{font-size: 1rem;}

    /*Skills*/

    #Skills{width: 100%; height: 100%; text-align: center; background-color: #00000011;}
    #Skills_Content > div{align-self: center; margin: 15px 0 0 0;}
    #Skills_Content > div > div{display: inline-block; width: 115px; height: 115px; margin: 2vw 3vw 2vw 0; box-shadow: 5px 5px 5px 5px gray; border-radius: 30px; background-color: white;}
    .Skills_ImgBox{background-repeat: no-repeat; background-size: contain; background-position: center;}
    .Skills_ImgBox div{display: flex; visibility:hidden; width: 115px; height: 115px; color: white; border-radius: 30px; justify-content: center; align-items: center;}
    .Skills_ImgBox:hover div{visibility: visible; background-color: black; opacity: .8;}

    /*Project*/

    #Project{width: 100%; height: 100%; background-color: greenyellow; text-align: center;}
    #Box_Wrap{display: flex; flex-wrap: wrap; justify-content: center;}
    #Project_Title{text-align: center;}
    .Project_Box{height: 100%; width: 100%; max-width: 80vw; border-radius: 4px; max-width: 80vw; margin: 0 auto 30px; background-color: white; box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);}
    .Project_ImgBox{width: 100%; height: 360px; margin-right: 2rem;}
    .Project_img{width: 100%; height: 360px; background-repeat: no-repeat; background-size: 100% 360px;}
    .Project_Info{width: 100%; height: 100%;}
        /*프로젝트 이름*/
    .Project_name{margin: 1vw 0 1vw 0;}
        /*개발 기간*/
    .Period{margin: 2vw 0 2vw 0;}
        /*프로젝트 소개?*/
    .Info{margin: 2vw 0 2vw 0; font-size: 1rem;}
        /*#...*/
    .HashTag{margin: 3vw 0 3vw 0;}
    .HashTag li{display: inline-block; margin-right: 5px; color: gray; font-size: .8rem;}
    
    /*Contact*/

    #Contact{width: 100%; height: 30vh; text-align: center;}
    #Email{font-size: 1.8em; font-weight: 700; margin: 0 0 2em 0;}

    /*상단*/
    #About_Title h1, #Skils_Title h1, #Project_Title h1, #Contact_Title h1{padding: 1.5em 0 1.5em 0;}